<!-- Home view -->
<div class="container">
	<div class="col-4">
		<!-- Game info and controls -->
		<fieldset class="fieldset">
			<legend class="fieldset__legend">
				Auth
			</legend>
			<div class="fieldset__container">
				<!-- Token -->
				<label class="label">
					<span class="label__text">
						Token
					</span>
					<input
						ng-model="token"
						type="text"
						class="input input_token">
				</label>
				<!-- Current game ID -->
				<label class="label">
					<span class="label__text">
						Current game ID
					</span>
					<input
						ng-model="currentGame"
						type="number"
						class="input input_id">
				</label>
				<button
					ng-click="saveData()"
					class="btn orange">
					Save data
				</button>
				<button
					ng-click="startGame()"
					class="btn green">
					Start game
				</button>
				<button
					ng-click="resetGame()"
					class="btn red">
					Reset game
				</button>
			</div>
		</fieldset>
	</div>
	<!-- Break point -->
	<div class="col-4">
		<!-- Game info and controls -->
		<fieldset class="fieldset">
			<legend class="fieldset__legend">
				Break point
			</legend>
			<div class="fieldset__container">
				<!-- Token -->
				<label class="label">
					<span class="label__text">
						Quarter&nbsp;
					</span>
					<select
						ng-init="breakPointQuarter='1'"
						ng-model="breakPointQuarter"
						class="select">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
					</select>
				</label>
				<!-- Current game ID -->
				<label class="label">
					<span class="label__text">
						Module type&nbsp;
					</span>
					<select
						ng-init="breakPointModule='WelcomeScreen'"
						ng-model="breakPointModule"
						class="select">
						<option value="WelcomeScreen">WelcomeScreen</option>
						<option value="Budget">Budget</option>
						<option value="Newsletter">Newsletter</option>
						<option value="Event">Event</option>
						<option value="Initiative">Initiative</option>
						<option value="Activity">Activity</option>
						<option value="Quiz">Quiz</option>
						<option value="QuarterResult">QuarterResult</option>
						<option value="FinalResult">FinalResult</option>
					</select>
				</label>
				<!-- Activate -->
				<button
					ng-click="isBreakpoint=true"
					class="btn red"
					ng-class="{'green': isBreakpoint}">
					Activate
				</button>
			</div>
		</fieldset>
	</div>
	<div class="col-2">
		<!-- Game steps -->
		<div class="steps">
			<h2 class="steps__title">
				Game flow steps:
			</h2>
			<ul
				ng-if="steps.length==0"
				class="steps__list">
				<li
					class="steps__item">
					Nothing yet happened
				</li>
			</ul>
			<ul class="steps__list">
				<li
					ng-repeat="(index, step) in steps"
					class="steps__item">
					{{index+1}}. {{step.name}}
				</li>
			</ul>
		</div>
	</div>
	<div class="col-2">
		<div class="game-info">
			<h2 class="game-info__title">
				Game info:
			</h2>
			<!-- No data -->
			<ul
				ng-if="!gameInfo.courseName"
				class="game-info__list">
				<li class="game-info__item">
					No information available
				</li>
			</ul>
			<ul
				ng-if="gameInfo.courseName"
				class="game-info__list">
				<li class="game-info__item">
					<strong>Course name:</strong> {{gameInfo.courseName}}
				</li>
				<li class="game-info__item">
					<strong>Quarter:</strong> {{gameInfo.period}}
				</li>
				<li class="game-info__item">
					<strong>Game progress:</strong> {{gameInfo.progress}}
				</li>
				<li class="game-info__item">
					<strong>Balance:</strong> {{gameInfo.balance | currency:'$':0}}
				</li>
				<li class="game-info__item">
					<strong>Risk:</strong> {{gameInfo.risk}}
				</li>
				<li class="game-info__item">
					<strong>Is game completed</strong>: {{gameInfo.isCompleted}}
				</li>
				<li class="game-info__item">
					<strong>Save date:</strong> {{gameInfo.saveDate | date:'dd MMMM yy / hh:mm'}}
				</li>
			</ul>
		</div>
	</div>
</div>
